## $stat  : com.squid.core.sql2.statement.InsertStatement
## $skin : com.squid.core.sql2.render.SQLSkin
##
##-- Template: default SQL ANSI, V2.0

INSERT INTO $stat.InsertIntoTable.render($skin)
#if ($stat.hasInsertIntoColumns())
(
#foreach ($expr in $stat.InsertIntoColumns) 
	#if ($velocityCount>1),
	#end
	$expr.render($skin)
#end
)
#end
$stat.InsertValue.render($skin)
